footer {
    font-family: "Poppins", sans-serif;
    color: #D6D6D6;
    background-color: #262626;

    padding: 52px 160px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #D6D6D6;
    padding-bottom: 30px;
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

footer li {
    display: flex;
    align-items: center;
    gap: 8px;
}

footer p {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

footer img {
    width: 24px;
    height: 24px;
}