header{
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    gap: 142px;
    padding: 30px 160px 0px 160px;
}

.logo-header{
    display: flex;
}

.logo-header > h1{
    color: #FF5E00;
    font-size: 16px;
}

header > img{
    width: 162px;
    height: 25px;
}
nav{
    display: flex;
    gap: 40px;
}

body{
    background-image: url("../assets/img/bg-site.png");
    background-repeat: no-repeat;
    background-size: cover;
}
footer {
    font-family: "Poppins", sans-serif;
    color: #D6D6D6;
    background-color: #262626;

    padding: 52px 160px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #D6D6D6;
    padding-bottom: 30px;
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

footer li {
    display: flex;
    align-items: center;
    gap: 8px;
}

footer p {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

footer img {
    width: 24px;
    height: 24px;
}
